/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
	display: block;
	max-width: none;
	max-height: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
/* --------------- */

/* xZoom Styles below */
.xzoom-container {
	display: inline-block;
}

.xzoom-thumbs {
	text-align: center;
	margin-bottom: 10px;
}

.xzoom {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

/* Thumbs */
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4,
	.xzoom-gallery5 {
	border: 1px solid #cecece;
	margin-left: 5px;
	margin-bottom: 10px;
}

.xzoom-container {
	max-width: 450px;
	max-height: 450px;
	min-height: 450px;
	min-width: 450px;
}

.xzoom-container img#xzoom-default {
	width: 100%;
	height: auto;
	max-height: 450px;
	max-width: 450px;
}

.xzoom-source, .xzoom-hidden {
	display: block;
	position: static;
	float: none;
	clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
	overflow: hidden;
}

/* Preview */
.xzoom-preview {
	border: 1px solid #888;
	background: #2f4f4f;
	box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.50);
}

/* Lens */
.xzoom-lens {
	border: 1px solid #555;
	box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.50);
	cursor: crosshair;
}

/* Loading */
.xzoom-loading {
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	opacity: .7;
	background: url(../images/xloading.gif);
	width: 48px;
	height: 48px;
}

/* Additional class that applied to thumb when it is active */
.xactive {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
	-moz-box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
	box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
	border: 1px solid #4aaad2;
}

/* Caption */
.xzoom-caption {
	position: absolute;
	bottom: -43px;
	left: 0;
	background: #000;
	width: 100%;
	text-align: left;
}

.xzoom-caption span {
	color: #fff;
	font-family: Arial, sans-serif;
	display: block;
	font-size: 0.75em;
	font-weight: bold;
	padding: 10px;
}

.col-6.mt-3.mb-3.product-image-part {
	padding: 0px 10px;
}

.col-6.mt-3.mb-3.product-title-part {
	padding: 60px 10px;
}

/* Tabs*/
section {
	padding: 60px 0;
}

section .section-title {
	text-align: center;
	color: #007b5e;
	margin-bottom: 50px;
	text-transform: uppercase;
}

#tabs {
	background: #007b5e;
	color: #eee;
}

#tabs h6.section-title {
	color: #eee;
}

.nav-tabs {
	border-bottom: 1px solid #dee2e6;
	width: 1140px;
}

@media only screen and (max-width: 600px) {
	.nav-tabs {
		border-bottom: 1px solid #dee2e6;
		width: 0px;
	}
	.tab-content-product_des {
	    text-align: justify;
	    padding: 0px !important;
	}
	
	div#nutrition-img-block {
    width: 200px;
	}
	
	div#nutrition-img-block img {
	    width: 100%;
	    height: auto;
	}
	
	.cat-item {
	   width: 250px;
	   margin: 15px;
	}
}

.tab-content-product_des {
    text-align: justify;
    padding: 10px 100px;
}


.product_blog_image img {
    height: 150px;
    width: 100%;
    border-radius: 10px;
}
.product_blog_swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.partner_slide a > h5 {
	color: red:
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #ffc025 !important;
    background-color: #0c1010;
	border-color: transparent transparent #f3f3f3;
	border-bottom: 4px solid !important;
	font-size: 20px;
	font-weight: bold;
}

#tabs .nav-tabs .nav-link {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	color: #eee;
	font-size: 20px;
}

div#nav-tabContent {
	margin: 30px 30px;
}